
@{
    ViewBag.Title = "Chart";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <h2>Chart</h2>
    <
</head>
<body>
    <img src="@Url.Action("Chart")" style="width:30px;height:30px;margin-left:750px" />

</body>
</html>
